{% extends "base.html" %}
{% block content %}

<h1>Lista de produtos</h1>

<div class="panel-body">
    <table class="table table-bordered table-hover table-striped table-condesed" id="product_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço médio</th>
            </tr>
        </thead>
        <tbody>
            {% for item in products %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.average_price}}</td>

            </tr>
            {% endfor %}


        </tbody>
    </table>

</div>


{% endblock %}